ol{
    background-color: red;
    padding: 20px;
}

ol>li{
    background-color: pink;
    padding: 10px;
}

ul{
    background-color: blue;
    padding: 20px;
}

ul>li{
    background-color: lightblue;
}